body {
    background:#292E37 url('http://worcesterwomenleadership.com/img/poly-bkgd.jpg');
background-size:     cover;                      
background-repeat:   no-repeat;

}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#292E37;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ubuntu Mono';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#ffffff;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#292E37;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:center;
    display:inline-block;
    position:relative;
    font-size:36px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#ffffff;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#292E37;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#ffffff;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}
h1 {
    font-family:'Ubuntu Mono';
    font-size: 46px
}
.transbox {
   font-family:'Ubuntu Mono'; 
}
